body{
background-color: mintcream;
}

h1{
text-align: center;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}

.textocentro{
    
}

img{
    
    
}

marker{
;
}

u{
    background-color:#d2e1f5;
}
.logo{
    display: block;
    margin: auto;
    width: 40%;

}